
/* Generative Grid */

.grid {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  gap: clamp(0.75rem, 1.5vw, 2rem);
  padding: clamp(0.75rem, 1.5vw, 2rem);
  /* background: #fff; */
  grid-column: 1;
}

.grid div {
  position: relative;
  background-size: cover;
  background-position: center center;
}

.grid div:hover {
  opacity: 0.5;
}

.circle:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 20%;
  aspect-ratio: 1 / 1;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.circle--outline:after {
  background: #fff;
  border: var(--stroke-width) solid #000;
}

.tracker {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3rem;
  line-height: 3rem;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 400;
  pointer-events: none;
  opacity: 0;
}

.instruction {
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
  color: rgb(255, 255, 255);
}

/*  --------------------- gradient-border -------------------------- */
.gradient-border {
  --border-width: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/*  --------------------- animated font -------------------------- */

.hoge{
  position: absolute;
  top: 30px;
  left: 0px;
  padding: 0px;
  margin: 0;
  font-size: 160px;
  animation: gradient 1.5s infinite alternate;
  font-weight: 375;
  font-variation-settings: 'wght' 700;
  text-align: center;
  width: 100%;
  height: 100%;
  
}

.hoge1{
  animation-delay: 0;
  color: #f33;
  z-index: 0;
}
.hoge2{
  animation-delay: 0.1s;
  color: #ff3;
  z-index: 1;  
}
.hoge3{
  animation-delay: 0.20s;
  color: #3ff;
  z-index: 2;  
}
.hoge4{
  animation-delay: 0.30s;
  color: #333;
  z-index: 3;  
  -webkit-text-stroke-width: 1px;
}


@keyframes gradient {
	0% {
    font-variation-settings: 'wght' 100;
	}
	40% {
    font-variation-settings: 'wght' 900;    
    top: 30px;
	} 
	45% {
    font-variation-settings: 'wght' 900;    
    top: 30px;    
	} 
  
	85% {
    font-variation-settings: 'wght' 100;    
    top: 60px;    
	}
	100% {
    font-variation-settings: 'wght' 100;    
    top: 60px;
    
	}
  
}

.container{
  position: absolute;
  width: 100%;
  height: 100%:
}