
/* Generative Grid */

.grid {
  width: 100vw;
  min-height: 50vh;
  display: grid;
  gap: clamp(0.75rem, 1.5vw, 2rem);
  padding: clamp(0.75rem, 1.5vw, 2rem);
  /* background: #fff; */
  grid-column: 1;
}

.grid div {
  position: relative;
  background-size: cover;
  background-position: center center;
}

.grid div:hover {
  opacity: 0.5;
}

.circle:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 20%;
  aspect-ratio: 1 / 1;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.circle--outline:after {
  background: #fff;
  border: var(--stroke-width) solid #000;
}

.tracker {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3rem;
  line-height: 3rem;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 400;
  pointer-events: none;
  opacity: 0;
}

.instruction {
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
  color: rgb(255, 255, 255);
}

/*  --------------------- Scroll Bar -------------------------- */

/* 
.ssb_down {
  background-color: #33ccaa;
  bottom:0;
  cursor:pointer;
  position:absolute;
  right:0;
  border-radius: 10px;
}

.ssb_sb {
  background-color: #22aabb;
  cursor:pointer;
  position:absolute;
  right:0;
  border-radius: 10px;
}

.ssb_sb_down {
  background-color: #1199aa;
}

.ssb_sb_over {
  background-color: #33bbcc;
}

.ssb_st {
  background-color: #dedede;
  cursor:pointer;
  height:100%;
  position:absolute;
  right:0;
  top:0;
  border-radius: 10px;
}

.ssb_up {
  background-color: #33ccaa;
  cursor:pointer;
  position:absolute;
  right:0;
  top:0;
  border-radius: 10px;
}

.parent {
  font-family:verdana;
  height:100%;
  padding:10px;
  position:relative;
} */
